*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
     height: 100%;
     width:  100%;
     
}
.main{
  min-height: 100%;
  padding: 50px;
  background-color: whitesmoke;
}
.page-1{
  height: 300px;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  
}
.page-1 h1{
  font-size: 45px;
  padding-bottom: 30px;
}
.page-1 p{
  font-size: 30px;
}
.page-1 span{
  font-size: 30px;
  color: #229dc6;
}
.page-2{
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
}
.div-1{
  height: 500px;
  width: 400px;
  border-radius: 20px;
  background-color: white;
}
.div-2{
  height: 500px;
  width: 400px;
  border-radius: 20px;
  background-color: white;
}
.img-1{
  height: 220px;
  width: 400px;
  padding: 20px;

}
.div-1 .img-1{
  border-radius: 30px;
}
.div-2 .img-1{
  border-radius: 30px;
}
.div-1 h2{
  font-size: 30px;
}